html, body {
  height: 100%;
  font-family: popping, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: rgba(4, 121, 85, 0.82);

}
.header {
  padding: 20px;
  margin-bottom: -10px;
  background-color: black;
}
.container {
  flex-grow: 1;

}
.hr-gradient {
  height: 4px;
  border: 0;
  background-image: linear-gradient(135deg, #006466 24%, #186785 50%, #186785 79%, #316AA4 100%);
  display: flex;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: 50px;
}

.nav-item {
  list-style-type: none;
}

.button-select {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.input {
  width: 60%;
}

.blue-btn {
  padding: 15px 40px;
  background: linear-gradient(135deg, #006466 24%, #186785 50%, #186785 79%, #316AA4 100%);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.blue-btn:hover {
  opacity: 1;
}
/* Style de base pour le <select> */
select {
  padding: 10px; /* Espace intérieur */
  font-size: 16px; /* Taille de la police */
  border: 1px solid rgba(12, 239, 205, 0.93); /* Bordure légère */
  border-radius: 4px; /* Coins arrondis */

  color: #ffffff; /* Couleur du texte */
  width: 10%; /* Largeur à 100% du contenant parent */
  transition: border-color 0.2s ease-in-out; /* Transition de couleur de bordure */
  background-color: rgba(0, 0, 0, 0.8);
}

/* Style lorsque le <select> est en focus (sélectionné) */
select:focus {
  border-color: #007bff; /* Couleur de bordure lorsqu'il est en focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre légère lorsqu'il est en focus */
}

/* Style pour les options du <select> */
select option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* Style pour le menu déroulant (flèche) */
select::after {
  content: '\25BC'; /* Flèche vers le bas */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none; /* Empêche l'interaction avec la flèche */
}
.white {
  color: white;
}
